body {
  max-width: 100%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 12px 0px,
    rgba(0, 0, 0, 0.3) 0px 0px 7px 0px;
}

ul {
  display: flex;
  list-style: none;
}
li {
  padding: 0 auto;
  margin-left: 100px;
}
footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #594045;
  margin-top: 30px;
}
.logo {
  height: 90px;
  padding-left: 0px;
}
.sign-in {
  padding-right: 30px;
}
.video-compilation {
  width: 100%;
  padding-top: 7px;
}
.homepage-summary {
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  margin-left: 300px;
  margin-bottom: 100px;
  margin-right: 300px;
  font-family: sans-serif;
}

.homepage-summary-title {
  font-family: cursive;
  font-size: 60px;
  font-weight: 800px;
}

.homepage-stays,
.homepage-wellness {
  height: 300px;
  padding-left: 40px;
}
.homepage-events-container {
  height: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.homepage-events {
  width: 450px;
  padding-right: 40px;
  object-fit: cover;
}
.address-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
  color: white;
}
.icon-container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons-social {
  padding-right: 60px;
}
.homepage-section {
  display: flex;
  justify-content: inline;
  margin-bottom: 30px;
}
.homepage-section p {
  text-align: center;
  padding-left: 30px;
  padding-top: 60px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 30px;
}
